---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="BLearn | About">
  <div class="max-w-5xl mx-auto p-4">
    <h1 class="text-4xl font-semibold">About BLearn</h1>
    <p class="text-gray-400 font-semibold">
      <small>Learn more about BLearn</small>
    </p>
    <p class="prose prose-lg mt-4">
      BLearn is a platform where you can learn about various topics. We have a
      collection of articles that you can read and learn from. We are a team of
      passionate writers who love to share knowledge with the world.
    </p>
  </div>
</MainLayout>
