---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import Image from "astro/components/Image.astro";
import PostsList from "../components/PostsList.astro";

const posts = await getCollection("posts");
---

<MainLayout title="BLearn | Home">
  <h1 class="text-4xl font-bold text-blue-500 mb-6 mt-10">Welcome to BLearn</h1>
  <PostsList posts={posts} />
</MainLayout>
